/* Dropdown Menu */

#portfolio-selection {
  margin: auto;
  display: grid;
  grid-template-areas: "select";
  width: 100%;
  min-width: 10ch;
  max-width: 20ch;
  // border: 1px solid $primary-color;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #E8F6FF;
  background-image: linear-gradient(to top, $secondary-color, #E8F6FF 33%);
  align-items: center;
  &:after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: $primary-color;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    justify-self: end;
  }
}

select, #portfolio-selection:after {
  grid-area: select;
}

#portfolio-choices {
  padding-left: 4px;
}

/* /Dropdown Menu/ */

/* Portfolio Modal */

.portfolio-modal {
  margin: 0px auto;
  @media (min-width: 992px) {
    max-width: none;
  }
  .modal-dialog {
    @media (min-width: 576px) {
      max-width: 90%;
    }
  }
  .modal-content {
    // padding: 100px 0;
    padding: 50px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    // @media (min-width: 768px) {
    //   padding: 25px 0;
    // }
    h2 {
      margin: auto;
      font-size: 3.5em;
      color: $primary-color;
       @media (min-width: 768px) {
        font-size: 4em;
      }
    }
    p {
      margin-top: 40px;
      margin-bottom: 40px;
      margin-left: 5%;
      margin-right: 5%;
      padding: 4px;
    }
    img {
      margin: 30px 0px;
    }
    .item-details {
      margin: 30px 0;
    }
  }
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
    @media (min-width: 768px) {
      top: 25px;
      right: 25px;
      width: 75px;
      height: 75px;
    }
    .lr {
      z-index: 1051;
      width: 1px;
      height: 45px;
      margin-left: 35px;
      background-color: $primary-color;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      @media (min-width: 768px) {
        height: 50px;
      }
      .rl {
        z-index: 1052;
        width: 1px;
        height: 45px;
        background-color: $primary-color;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        @media (min-width: 768px) {
          height: 50px;
        }
      }
    }
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

/* Modals > slick slider */
.portfolio-gallery {
  align-items: center;
  .slick-initialized .slick-slide {
    padding: 10px;
  }
  .slick-prev, .slick-next {
    color: $primary-color !important;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.45) !important;
    &:hover {
      color: $link-color !important;
    }
  }
  .icon {
    font-size: 60px !important;
    @media (max-width: 575px) {
      font-size: 40px !important;
    }
  }
  .portfolio-content {
    a:hover {
      opacity: 70%;
    }
  }
}

/* /Modals > slick slider/ */

/* /Modals/ */
