<!-- Modals -->
{% for project in site.data.portfolio.projects %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ project.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl">
            </div>
          </div>
        </div>
        <h2>{{ project.title}}</h2>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <!-- Image and Description -->
          <div class="row">
            <div class="col-lg-12 mx-auto text-center"> 
              <img src="{{ project.main-img }}" class="img-fluid img-centered" alt="{{ project.alt }}">
              {% if project.description %}
              <p>{{ project.description }}</p>
              {% endif %}
            </div>
          </div>
          <!-- Image Carousel -->
          <div class="row portfolio-gallery">
            <div class="col-lg-10 mx-auto text-center portfolio-slider">
            {% for image in project.images %}
            <!-- slider-item -->
              <div class="text-center portfolio-content">
                <a data-large="{{ image.full-size-url }}"><img class="img-fluid" src="{{ image.url }}" alt="{{ image.alt }}"></a>
              </div>
            {% endfor %}
          </div>
      </div>
          </div>
          <!-- Project Info & CLose Button -->
          <div class="row">
            <div class="col-lg-12 text-center">
              <ul class="list-inline item-details">
                <li>Contractor:
                  <strong><a href="{{ project.contractor-url }}">{{ project.contractor }}</a></strong>
                </li>
                <li>Photo:
                  <strong><a href="{{ project.photog-url }}">{{ project.photog }}</a></strong>
                </li>
                <li>Date:
                  <strong class="link-color">{{ project.year }}</strong>
                </li>
              </ul>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa-solid fa-x"></i>
                Close</button>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>
</div>
{% endfor %}
<!-- /Modals/ -->
