{% if site.data.portfolio.projects %}
<!-- portfolio -->
<section class="section bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Portfolio</h2>
      </div>
    </div>
    <div class="row shuffle-wrapper">
      {% for item in site.data.portfolio.projects %}
        {% if forloop.index <= site.data.settings.portfolio-home-items-length %}
        <div class="col-lg-4 col-6 mb-4 shuffle-item">
          <div class="position-relative rounded hover-wrapper">
            <img src="{{ site.baseurl }}/{{ item.icon }}" alt="portfolio-image" class="img-fluid rounded w-100 d-block">
            <div class="hover-overlay">
              <div class="hover-content">
                <a class="btn btn-light btn-sm" data-toggle="modal" data-target="#portfolioModal-{{ item.modal-id }}">view project</a>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
<!-- /portfolio -->
{% endif %}

{% include portfolio-modal.html max-items=site.data.settings.portfolio-home-items-length %}