
<!-- selected works -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">Selected Works</h2>
      </div>
      <div class="col-lg-6 col-md-6 mb-80">
        <h3> Selected Residential
      </div>
      <div class="col-lg-6 col-md-6 mb-80">
        <h3> Selected Commercial </h3>
      </div>
    </div>
  </div>
</section>
<!-- /selected works -->


<!-- {% if site.data.settings.selected-residential %}
{% endif %}


{% for education in site.data.settings.education %}
{% endfor %} -->
