body {
  background-color: $body-color;
  overflow-x: hidden;
}

::selection {
  background: lighten($color: $primary-color, $amount: 10);
  color: $white;
}

/* preloader */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $white;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

ol,
ul {
  list-style-type: none;
  margin: 0px;
}


.list-inline {
  @media (max-width: 575px) {
    display: block !important;
  }
}

.list-inline>li {
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  @media (max-width: 575px) {
    display: list-item !important;
    font-size: 12px;
  }
  a {
    color: $link-color !important;
  }
}

img {
  vertical-align: middle;
  border: 0;
}

a {
  color: $primary-color !important;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a,
button,
select {
  cursor: pointer;
  transition: .2s ease;

  &:focus {
    outline: 0;
  }
}

a.text-dark{
  &:hover{
    color: $primary-color !important;
  }
}

a:hover {
  color: $primary-color;
}

.link-color {
  color: $link-color !important;
}

.slick-slide {
  outline: 0;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;

  &-title {
    font-family: $secondary-font;
  }
  &.top-section {
    margin-top: 100px;
  }
}


hr {
  margin: 10px 0px 50px;
  max-width: 200px;
  padding: 0;
  border: 0;
  border-top: solid 2px;
  &.divider {
    margin: 40px auto 20px;
  }
}

hr.section-title {
  margin: 25px auto 80px;
  max-width: 250px;
  border-top: solid 5px;
  text-align: center;
  overflow: visible;
  color: $ternary-color,
}

.underlined {
  display: inline-block;
  &:after {
    content: '';
    display: block;
    border-top: 2px solid $primary-color;
    margin-top: 0.25em;
  }
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* overlay */

.overlay {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: $black;
    opacity: .5;
  }
}

.outline-0 {
  outline: 0 !important;
}

.d-unset {
  display: unset !important;
}

.bg-primary {
  background: $secondary-color !important;
  .section-title {
    color: $primary-color !important;
  }
  .simple-list {
    background-color: #fff;
    border: 2px solid $gray;
  }
  hr {
    color: $primary-color !important;
  }
}

.rounded-10 {
  border-radius: 10px;
}

.bg-gray {
  background: $gray !important;
}

.bg-light {
  background: $gray-blue !important;
}

.text-primary {
  color: $primary-color !important;
}

.text-color {
  color: $text-color;
}

.text-dark {
  color: $text-color-dark !important;
}

.text-light {
  color: $text-color-light !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.zindex-1 {
  z-index: 1;
}

.rounded-lg{
  border-radius: 15px;
}

.overflow-hidden {
  overflow: hidden;
}

.font-secondary {
  font-family: $secondary-font !important;
}

.font-tertiary {
  font-family: $secondary-font !important;
}

.shadow {
  box-shadow: 0px 18px 39.1px 6.9px rgba(224, 241, 255, 0.34) !important;
}

.bg-dark{
  background-color: #222222 !important;
}

/* icon */
.icon {
  font-size: 45px;
}

.icon-bg {
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
}

.icon-light {
  color: #c8d5ef;
}

/* /icon */

/* slick slider */
.slick-dots{
  text-align: center;
  padding-left: 0;
  li{
    display: inline-block;
    margin: 2px;
    &.slick-active{
      button{
        background: $primary-color;
        width: 25px;
      }
    }
    button{
      height: 6px;
      width: 12px;
      background: rgba($color: $primary-color, $alpha: .5);
      color: transparent;
      border-radius: 10px;
      overflow: hidden;
      transition: .2s ease;
      border: 0;
    }
  }
}

/* /slick slider */

/* form */
.form-control{
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid $border-color;
  height: 60px;
  &:focus{
    border-color: $primary-color;
    outline: 0;
    box-shadow: none !important;
  }
}

textarea.form-control{
  height: 120px;
}
/* /form */

/* card */
.card{
  border: 0;
  &-header{
    border: 0;
  }
  &-footer{
    border: 0;
  }
}
/* /card */

/* Lists */
.simple-list{
  background-color: #e7edf0;
  border: 2px solid $primary-color;
  border-radius: 5px;
  .list-column{
    .list-title{
      text-align: center;
      @media all and (min-width: 992px) {
        text-align: left;
      }
    }
  }
  h3 {
    margin: 30px 0px 40px;
  }
}
/* /Lists/ */

/* Page Titles */
.page-title {
  padding: 200px 0 100px;

  .container {
    position: relative;
    z-index: 1;
  }

  .bg-shape-1 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .bg-shape-2 {
    position: absolute;
    left: -20px;
    top: -10px;
  }

  .bg-shape-3 {
    position: absolute;
    left: 10%;
    top: 100px;
  }

  .bg-shape-4 {
    position: absolute;
    left: 50%;
    top: -20px;
  }

  .bg-shape-5 {
    position: absolute;
    left: 90px;
    bottom: -50px;
    transform: rotate(180deg);
  }

  .bg-shape-6 {
    position: absolute;
    right: 20%;
    bottom: -20px;
  }

  .bg-shape-7 {
    position: absolute;
    right: -220px;
    bottom: -100px;
  }
}
/* /Headings/ */

/* Portfolio Modal */

.portfolio-modal {
  margin: 0px auto;
  @media (min-width: 992px) {
    max-width: none;
  }
  .modal-dialog {
    @media (min-width: 576px) {
      max-width: 90%;
    }
  }
  .modal-content {
    // padding: 100px 0;
    padding: 50px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    // @media (min-width: 768px) {
    //   padding: 25px 0;
    // }
    h2 {
      margin: auto;
      font-size: 3.5em;
      color: $primary-color;
       @media (min-width: 768px) {
        font-size: 4em;
      }
    }
    p {
      margin-top: 40px;
      margin-bottom: 40px;
      margin-left: 5%;
      margin-right: 5%;
      padding: 4px;
    }
    img {
      margin: 30px 0px;
    }
    .item-details {
      margin: 30px 0;
    }
  }
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
    @media (min-width: 768px) {
      top: 25px;
      right: 25px;
      width: 75px;
      height: 75px;
    }
    .lr {
      z-index: 1051;
      width: 1px;
      height: 45px;
      margin-left: 35px;
      background-color: $primary-color;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      @media (min-width: 768px) {
        height: 50px;
      }
      .rl {
        z-index: 1052;
        width: 1px;
        height: 45px;
        background-color: $primary-color;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        @media (min-width: 768px) {
          height: 50px;
        }
      }
    }
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

/* Modals > slick slider */
.portfolio-gallery {
  align-items: center;
  .slick-initialized .slick-slide {
    padding: 10px;
  }
  .slick-prev, .slick-next {
    color: $primary-color !important;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.45) !important;
    &:hover {
      color: $link-color !important;
    }
  }
  .icon {
    font-size: 60px !important;
    @media (max-width: 575px) {
      font-size: 40px !important;
    }
  }
  .portfolio-content {
    a:hover {
      opacity: 70%;
    }
  }
}

/* /Modals > slick slider/ */

/* /Modals/ */
