/*  typography */
@import url('https://fonts.googleapis.com/css?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amiko:wght@700&family=Montserrat:wght@400;700&display=swap');



body {
  line-height: 1.2;
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: $text-color;
}

p, .paragraph {
  font-weight: 400;
  color: $text-color;
  font-size: 15px;
  line-height: 1.8;
  font-family: $primary-font;
  &-lg{
    font-size: 22px;
  }
  &-sm{
    font-size: 1.5vw;
    @media (max-width: 575px) {
      font-size: 3vw;
    }
    @media (max-width: 767px) {
      font-size: 2.5vw;
    }
  }
}

h1,h2,h3,h4,h5,h6 {
  color: $text-color-dark;
  font-family: $secondary-font;
  line-height: 1.2;
}

h1, .h1{
  text-transform: uppercase;
  line-height: 1;
  // font-size: 50px;
  font-size: 11vw;
  text-align: center;
  @media only screen and (min-width: 768px) {
    // font-size: 66px;
    font-size: 7.5vw;
  }
}

h2, .h2{
  color: $ternary-color;
  font-family: $ternary-font;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 11vw;
  @media only screen and (min-width: 768px) {
    font-size: 7.5vw;
  }
}

h3, .h3{
}

h3.small-title {
  font-size: 40px;
  text-align: center;
  color: $primary-color;
}

h4, .h4{
  color: $primary-color;
  font-size: 22px;
}

h5, .h5{
  font-size: 2.5vw;
  @media (max-width: 575px) {
    font-size: 3.5vw;
  }
}

h6, .h6{
  font-size: 14px;
}


.dark-text {
  color: $dark-grey !important;
}

p {
  .small-text {
    font-size: 12px;
  }
}
