// Color Variables
$primary-color: #080932;
$secondary-color: #bfced8;
// $ternary-color: #3A4146;
$ternary-color: #4E5357;
$dark-grey: #5F6569;
$text-color: #4c4c4c;
$text-color-dark: #000;
$text-color-light: #999;
$body-color: #fff;
$border-color: #c7c7c7;
$black: #000;
$white: #fff;
$gray: #eaeaea;

// Font Variables
$secondary-font: 'Amiko','Helvetica Neue',Helvetica,Arial,sans-serif;
$primary-font: 'Montserrat',"Helvetica Neue",Helvetica,Arial,sans-serif;
$ternary-font: 'Montserrat',"Helvetica Neue",Helvetica,Arial,sans-serif;
$icon-font: 'themify';