---
layout: default-no-footer
---
<!-- page title -->
<!-- <section class="page-title-alt bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-white font-tertiary">About</h1>
      </div>
    </div>
  </div> -->
  <!-- background shapes -->
<!--   <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-bg-top.png" alt="illustrations" class="bg-shape-1 w-100">
  <img src="{{ site.baseurl }}/assets/images/illustrations/dots-group-sm.png" alt="illustrations" class="bg-shape-2">
  <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-yellow.png" alt="illustrations" class="bg-shape-3">
  <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-orange.png" alt="illustrations" class="bg-shape-4">
  <img src="{{ site.baseurl }}/assets/images/illustrations/dots-group-cyan.png" alt="illustrations" class="bg-shape-5">
  <img src="{{ site.baseurl }}/assets/images/illustrations/leaf-cyan-lg.png" alt="illustrations" class="bg-shape-6">
</section> -->
<!-- /page title -->

<!-- about -->
<section class="section about-section top-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 my-3">
        <h3 class="small-title">About Ronald Berlin</h3>
        <hr class="small-title">
          <div id="intro">
            {{ content }}
          </div>
      </div>
      <div class=" col-10 col-md-4 mt-3 text-center align-self-center">
        <div class="shadow-down mb-4">
          <img src="{{ site.baseurl }}/{{ page.image }}" alt="{{ page.author }}" class="img-fluid w-100 rounded-lg border-medium">
        </div>
        <!-- <img src="{{ site.baseurl }}/{{ page.signature }}" alt="signature" class="img-fluid"> -->
        <!-- <h4>{{ page.author }}</h4> -->
      </div>
    </div>
  </div>
</section>
<!-- /about -->

{% include selected-works.html %}
